@import url("https://fonts.cdnfonts.com/css/nunito");
@import url('https://fonts.googleapis.com/css?family=Roboto Mono');

html,
body {
  font-family: "Nunito";
  font-size: 16px;
}

#__nuxt {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}
